

.home-bg {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../images/home-bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    .user-icon {
        // background-color: rebeccapurple;
        width: 6rem;
        height: 6rem;
        border-radius: 3.1rem;
        border: 0.2rem solid white;
        margin-top: 15%;
    }
    .user-motto {
        color: #e0e0e0;
        font-size: 1.2rem;
        margin-top: 0.8rem;
    }
    .user-info {
        color: #acacac;
    }
}
